@use "shared" as *;

//
// Bulma fixes
//

// dropdown-item in navbar do not close on click
// https://github.com/jgthms/bulma/issues/2514
@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}

.button {
    box-shadow: none;
    &:not(.is-light):not(.is-ghost):not(.is-soft) {
        color: var(--bulma-text); // bulma-text-on-schema (--text) is to weak on dark mode...
        &.is-primary,
        &.is-info,
        &.is-success,
        &.is-warning,
        &.is-danger {
            color: white;
        }

        &.is-link {
            color: var(--bulma-link-invert);
        }
    }
}

.tag, .box, .notification {
    box-shadow: none;
    @each $name, $pair in $colors {
        &.is-#{$name}.is-soft {
            color: var(--bulma-text);
            background-color: var(--bulma-#{$name}-soft);
        }
    }
}

.level-left, .level-right {
    gap: 0;
}

.dropdown-content {
    box-shadow: none;
    // @debug: the bulma color is not defined sometimes (when created on the fly in kb-board...?
    background-color: var(--body-background-color);

    .dropdown-item:hover {
        background-color: var(--background-hover);
    }
}

.panel-heading {
    box-shadow: none;
    color: var(--bulma-text);
}

.modal-card-body {
    box-shadow: none;
    //flex-grow: unset; // needed for the long dropdown (move tension)
}

.modal-card-head {
    box-shadow: none;
    padding: 1rem !important;
}

.table {
    td {
        color: var(--text);
    }
}
