@use "sass:list";

@charset "utf-8";


// Zen fonts
// --
$f6-size-1: 3rem;
$f6-size-2: 2.5rem;
$f6-size-3: 2rem;
$f6-size-4: 1.75rem;
$f6-size-5: 1.5rem;
$f6-size-6: 1.1rem;
$f6-size-7: 0.9rem;
$f6-weight-light: 400;
$f6-weight-normal: 500;
$f6-weight-medium: 600;
$f6-weight-semibold: 700;
$f6-weight-bold: 800;

$f6-sizes: $f6-size-1 $f6-size-2 $f6-size-3 $f6-size-4 $f6-size-5 $f6-size-6 $f6-size-7;

//
// Fonts face
//

//@font-face {
//    font-family: Zen;
//    src: url(../fonts/ZenKurenaido-Regular.ttf);
//}
//@font-face {
//    font-family: Roboto;
//    src: url(../fonts/Roboto-Regular.ttf);
//}
//@font-face {
//    font-family: Lato;
//    src: url(../fonts/Lato-Regular.ttf);
//}
//@font-face {
//    font-family: OpenSans;
//    src: url(../fonts/OpenSans-Regular.ttf);
//}

@font-face {
    font-family: ArrowTypeRecursive;
    //font-style: oblique 0deg 15deg;
    //font-weight: 400 1000;
    //font-display: swap;
    src: url('../fonts/Recursive_VF_1.084--subset-GF_latin_basic.woff2') format('woff2');
    //src: url('../fonts/RecursiveSansCslSt-Regular.woff2') format('woff2');
}

@mixin defaultFontFace {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

@mixin OpenRecursive {
    font-family: ArrowTypeRecursive !important;
}

//@mixin zenFontFace {
//    font-family: zenKurenaido, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
//    // Default
//    font-size: $size-6 !important;
//    font-weight: $weight-normal !important;
//}

//@mixin OpenFace {
//    font-family: OpenSans !important;
//}



//
// Default font
//

html, body {
    @include defaultFontFace;
}

* {
    font-family : inherit !important;
}


.is-human {
    //@include zenFontFace;
    //@include OpenFace;
    @include OpenRecursive;
    /* set variation axis values */
    --mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 0; /* Casual: Linear to Casual */
    //--wght: "wght" 400; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: "slnt" 0; /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --CRSV: "CRSV" 0.5;  /* Cursive: always roman, auto substitution, or always cursive */
    /* apply axis values with CSS custom properties */
    font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
}

// Fix size of Zen font size
@each $size in $f6-sizes {
    $i: list.index($f6-sizes, $size);
    .is-size-#{$i} {
         &.is-human, .is-human {
            font-size: $size !important;
        }
    }
}


//.has-text-weight-light {
//  font-weight: $weight-light !important;
//}
//.has-text-weight-normal {
//  font-weight: $weight-normal !important;
//}
//.has-text-weight-medium {
//  font-weight: $weight-medium !important;
//}
//.has-text-weight-semibold {
//	font-weight: $weight-semibold !important;
//}
//.has-text-weight-bold {
//	font-weight: $weight-bold !important;
//}



.is-recursive {
    @include OpenRecursive;
    /* set variation axis values */
    --mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 1; /* Casual: Linear to Casual */
    //--wght: "wght" 400; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: "slnt" 0; /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --CRSV: "CRSV" 0.5;  /* Cursive: always roman, auto substitution, or always cursive */
    /* apply axis values with CSS custom properties */
    font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
}


/*
 *
 * Icon fonts
 *
 */


////$fa-font-path: "fonts";
//$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../icons/style.css';

.is-small {
    i { font-size: 0.875rem; }
}

i {
    font-size: 1rem;
    &.icon-tiny {
        font-size: 0.55rem;
    }
    &.icon-xs {
        font-size: 0.75rem;
    }
    &.icon-sm {
        font-size: 0.875rem;
    }
    &.icon-1x {
        font-size: 1rem;
        vertical-align: -.1rem;
    }

    &.icon-bg {
        font-size: 1.12rem;
        // prtotect the navbar height
        line-height: 0;
    }
	&.icon-lg {
	/* makes the font 33% larger relative to the icon container */
		font-size: calc(4rem / 3);
		line-height: calc(3rem / 4);
		vertical-align: -.0667rem;
	}

    &.icon-1half {
        font-size: 1.5rem;
    }

    &.icon-2x {
    font-size: 2rem; }

    &.icon-3x {
    font-size: 3rem; }

    &.icon-4x {
    font-size: 4rem; }

    &.icon-5x {
    font-size: 5rem; }

    &.icon-6x {
    font-size: 6rem; }

    &.icon-7x {
    font-size: 7rem; }

    &.icon-8x {
    font-size: 8rem; }

    &.icon-9x {
    font-size: 9rem; }

    &.icon-10x {
    font-size: 10rem; }

}

.icon-is-slashed {
	position: relative;
}
.icon-is-slashed:after {
	content: '|';
	position: absolute;
    left: 18%;
    bottom: 0.1px;
	font-size: 1.3em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.icon-rotate:before {
    display: inline-block;
    transform: rotate(90deg);
}

.stackPen {
    &.icon-stack > i.icon-pen {
        top: -5px;
        left: 5px;
    }
}

i.is-space {
    margin-right: 0.5rem;
}

