// Bulma generate palette colors before themes
// --
$f6-blue: #2176d0;
$f6-orange: #d38e23;
$f6-green: #3ffba3;

$f6-green-lighter: #7af2bf;

// Forward the base variables first
@forward "bulma/sass/utilities" with (
  // Colors
  $primary: #4258ff, // ethereum(blue)
  $link: $f6-green-lighter,
  $warning: $f6-orange,
  // Misc
  $shadow-color: transparent,
);

// Mixins needed explicitely to access it later....
@forward "bulma/sass/utilities/mixins";

// Then forward Bulma components (which might use the variables)
@forward "bulma/sass/base";
@forward "bulma/sass/elements";
@forward "bulma/sass/components";
@forward "bulma/sass/form";
@forward "bulma/sass/grid";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout";

// F6 fonts
@forward "fonts";

// Themes
// @DEBUG: very long to build cf sass-loader...
@forward "bulma/sass/themes";
