@charset "utf-8";
$navbar-height: 2.5rem;
$navbar-item-img-max-height: 1.5rem;
$navbar-padding: 0rem;

$tooltip-background-opacity: 0.95;

//@import url("http://use.fontawesome.com/releases/v5.6.1/css/all.css");
$fa-font-path: "fonts";
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

//tooltip-hover
//    &:focus::before,
//    &:focus::after,
//    &:hover::before,
//    &:hover::after,
//    &.has-tooltip-active::before,
//    &.has-tooltip-active::after
//        @content
