@charset "utf-8";

// Navbar
$navbar-height: 2.75rem;
$navbar-item-img-max-height: 1.5rem;
$navbar-padding: 0rem;

// Tooltip
$tooltip-background-opacity: 0.95;
$tooltip-background-color: $grey-darker;
$tooltip-color: white;
//-- Node tooltip
$node-tooltip-background: $white-ter;
//$node-tooltip-background: $grey-lighter;
$node-tooltip-shadow: rgba(42, 70, 205, 0.5);
$tooltip-transition-duration: 0.10s;

// Modal
$modal-background-background-color: rgba(black, 0.7);
$modal-in-duration: 0.2s;
$modal-out-duration: 0.1s;

//$fa-font-path: "fonts";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

