@charset "utf-8";

// size
$size-small2: 0.65rem;

// Navbar
$navbar-height: 2.75rem;
$navbar-item-img-max-height: 1.5rem;
$navbar-padding: 0rem;

// Tooltip
$tooltip-background-opacity: 0.95;
$tooltip-background-color: $grey-darker;
$tooltip-color: white;
//-- Node tooltip
$node-tooltip-background: $white-ter;
//$node-tooltip-background: $grey-lighter;
$node-tooltip-shadow: rgba(42, 70, 205, 0.5);
$tooltip-transition-duration: 0.1s;

// Modal
$modal-background-background-color: rgba(black, 0.6);
$modal-in-duration: 0.18s;
$modal-out-duration: 0.18s;
$modal-width: 700px;
$modal-width-large: 790px;

// divider
$divider-color: $grey-light;

// quick help
$acc-height-title: 42px;
$acc-height-subtitle: 48px;
$acc-height: 48px;

