// Zen fonts
// --
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.75rem;
$size-5: 1.5rem;
$size-6: 1.1rem;
$size-7: 0.9rem;
$weight-light: 400;
$weight-normal: 500;
$weight-medium: 600;
$weight-semibold: 700;
$weight-bold: 800;


@forward "bulma/sass/utilities" with (
  // Override the variables
  $size-1: $size-1,
  $size-2: $size-2,
  $size-3: $size-3,
  $size-4: $size-4,
  $size-5: $size-5,
  $size-6: $size-6,
  $size-7: $size-7,
  $weight-light: $weight-light,
  $weight-normal: $weight-normal,
  $weight-medium: $weight-medium,
  $weight-semibold: $weight-semibold,
  $weight-bold: $weight-bold,
);
@use "bulma/sass/base" as *;
@use "bulma/sass/elements" as *;
@use "bulma/sass/components" as *;
@use "bulma/sass/form" as *;
@use "bulma/sass/grid" as *;
@use "bulma/sass/helpers" as *;
@use "bulma/sass/layout" as *;
@use "bulma/sass/themes" as *;

//
// Bulma fixes
//

// dropdown-item in navbar do not close on click
// https://github.com/jgthms/bulma/issues/2514
@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}

