@use "bulma-base" as *;

//
// App
//

$orange-frac6: #d38e23;
$green-frac6: #3ffba3;
$green-frac6-lighter: #7af2bf;
$blue-frac6: #2176d0;

$grey-light3: lighten($grey, 40);

//
// Dimensions
//
$section-padding-desktop: 3rem 1.5rem;

// Navbar
$navbar-height: 2.4rem;
$navbar-item-img-max-height: 1.5rem;
$navbar-padding: 0rem;

// Tooltip
$tooltip-background-opacity: 0.92;
$tooltip-background-color: var(--grey-dark);
$tooltip-color: white;
//-- Node tooltip
$node-tooltip-background: $white-ter;
$node-tooltip-shadow: rgba(42, 70, 205, 0.5);
$tooltip-transition-duration: 0.1s;

// Modal
$modal-background-background-color: rgba(black, 0.6);
$modal-in-duration: 0.25s;
$modal-out-duration: 0.25s;
$modal-width: 650px;
$modal-width-large: 790px;

// divider
$divider-color: var(--grey-light);

// quick help
$acc-height-title: 42px;
$acc-height-subtitle: 48px;
$acc-height: 48px;

// Menu
$orga-menu-width: 64px;
$tree-menu-width: 260px;

:root {
    //
    // App
    //
    --orange-frac6: #{$orange-frac6};
    --green-frac6: #{$green-frac6};
    --green-frac6-lighter: #{$green-frac6-lighter};
    --blue-frac6: #{$blue-frac6};
    //--hover-color: #{$hover-color};
    //
    // Dimmension
    //
    --section-padding-desktop: #{$section-padding-desktop};

    // Navbar
    --navbar-height: #{$navbar-height};
    --navbar-item-img-max-height: #{$navbar-item-img-max-height};
    --navbar-padding: #{$navbar-padding};

    // Tooltip
    --tooltip-background-opacity: #{$tooltip-background-opacity};
    --tooltip-background-color: #{$tooltip-background-color};
    --tooltip-color: #{$tooltip-color};
    //-- Node tooltip
    --node-tooltip-background: #{$node-tooltip-background};
    --node-tooltip-shadow: #{$node-tooltip-shadow};
    --tooltip-transition-duration: #{$tooltip-transition-duration};

    // Modal
    --modal-background-background-color: #{$modal-background-background-color};
    --modal-in-duration: #{$modal-in-duration};
    --modal-out-duration: #{$modal-out-duration};
    --modal-width: #{$modal-width};
    --modal-width-large: #{$modal-width-large};

    // divider
    --divider-color: #{$divider-color};
    --breadcrumb-li-content: "\0002f";

    // quick help
    --acc-height-title: #{$acc-height-title};
    --acc-height-subtitle: #{$acc-height-subtitle};
    --acc-height: #{$acc-height};
}

// Graph-packing
$gp-lvl-0-bg: #FAFAFA;
$gp-lvl-1-bg: #D9DCDE;
$gp-lvl-2-bg: #B9BFC3;
$gp-lvl-3-bg: #97A0A6;
$gp-lvl-4-bg: #7C868E;
$gp-lvl-5-bg: #646E75;
$gp-lvl-6-bg: #51595F;
$gp-lvl-7-bg: #454B50;

@media (prefers-color-scheme: light) {
  :root, :root.is-light {
    // Graph-packing
    --gp-lvl-0-bg: #{$gp-lvl-0-bg};
    --gp-lvl-1-bg: #{$gp-lvl-1-bg};
    --gp-lvl-2-bg: #{$gp-lvl-2-bg};
    --gp-lvl-3-bg: #{$gp-lvl-3-bg};
    --gp-lvl-4-bg: #{$gp-lvl-4-bg};
    --gp-lvl-5-bg: #{$gp-lvl-5-bg};
    --gp-lvl-6-bg: #{$gp-lvl-6-bg};
    --gp-lvl-7-bg: #{$gp-lvl-7-bg};
  }
}

// Graph-packing
$gp-lvl-0-bg: #e0e0e0;
$gp-lvl-1-bg: #b0b0b0;
$gp-lvl-2-bg: #808081;
$gp-lvl-3-bg: #505050;
$gp-lvl-4-bg: #404040;
$gp-lvl-5-bg: #303030;
$gp-lvl-6-bg: #202020;
$gp-lvl-7-bg: #101010;

@media (prefers-color-scheme: dark) {
  :root, :root.is-dark {
    // Graph-packing
    --gp-lvl-0-bg: #{$gp-lvl-0-bg};
    --gp-lvl-1-bg: #{$gp-lvl-1-bg};
    --gp-lvl-2-bg: #{$gp-lvl-2-bg};
    --gp-lvl-3-bg: #{$gp-lvl-3-bg};
    --gp-lvl-4-bg: #{$gp-lvl-4-bg};
    --gp-lvl-5-bg: #{$gp-lvl-5-bg};
    --gp-lvl-6-bg: #{$gp-lvl-6-bg};
    --gp-lvl-7-bg: #{$gp-lvl-7-bg};
  }
}
