
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  //line-height: 1.3;
}

* {
    font-family : inherit !important;
}

/*
 *
 * Bulma fixes
 *
 */

#body {
    // FIX the fix-top-navbar padding (for the #mainPane}
    padding-top: calc(#{$navbar-height} - 0.5rem ) !important; // why - 0.5 ? mystery

    // For discrete footer.
    min-height: calc(100vh - #{$navbar-height}) !important;

    @include until($desktop) {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

hr {
    height: 1px !important;
    &.is-2 {
        height: 2px !important
    }
    &.is-3 {
        height: 4px !important
    }
}

.column {
    /*  Fix/scrollable column */
    &.is-fullheight {
        min-height: calc(100vh - #{$navbar-height} + #{$size-small});
        max-height: calc(100vh - #{$navbar-height} + #{$size-small});
        height:     calc(100vh - #{$navbar-height} + #{$size-small});
        //display: flex;
        //flex-direction: row;
        //justify-content: stretch;

        overflow-y: auto;
    }


    /* add a margin-top only when item are wrapped */
    &.flex-gap {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}

.help-label {
  //font-family: bold !important;
  color: $grey !important;
  display: block !important;
  font-size: $help-size !important;
  margin-top: 0.25rem !important;
}
.help {
  color: $grey-light !important;
}
.is-grey {
    color: $grey !important;
}
.is-grey-light {
    color: $grey-light2 !important;
}
.is-bg-grey {
    background-color: $grey !important;
}
.is-bg-grey-light {
    background-color: $grey-light2 !important;
}

.is-md {
    font-size: 0.9rem !important;
}

.is-flex-grow {
    flex-grow: 1 !important;
}

.is-aligned-center {
    text-align: center !important;
}
.is-aligned-left {
    text-align: left !important;
}
.is-aligned-right {
    text-align: right !important;
}

.is-underline {
    //text-decoration: underline;
    border-bottom: 1px ridge;
}

.is-underline-dotted {
    border-bottom: 1px dotted;
}

.is-crossed {
    text-decoration: line-through;
}

.is-strong {
    font-weight: bold;
}

.icon {
    color: #11111133 !important;
}

.icon-padding-left {
    padding-left: 8px !important;
}


.icon-padding-right {
    padding-right: 8px;
}

.text-status {
    margin: 0 1rem 0 1rem !important;
    font-style: italic !important;
}

// Tooltip

.tooltip.has-tooltip-multiline::before {
  white-space: pre-line !important;
}

.tooltip {
    // Tooltip has fadin, and no fadout
    transition: none !important;
    transition-delay: none !important;

    &.has-tooltip-active,
    &:focus,
    &:hover {
        &::after,
        &::before {
            transition: all .15s linear !important;
            transition-delay: $tooltip-transition-duration !important;
        }
    }
}

.box.is-light, .modal-card-body  {
    a {
        color: $blue !important;
    }
}


.arrow {
	border: solid;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;

	&.right {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	&.left {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}

	&.up {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}

	&.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		margin-bottom: 2px;
	}
}

.dropdown-content {
    max-height: 280px;
    overflow: auto;
}

.dropdown-menu.is-right {
	left: auto;
	right: 0;
}


// Media

.media.is-small {
    font-size: 0.9rem !important;
}

// Modal

html.has-modal-active, html.has-modal-active2 {
    overflow: hidden !important;
    padding-right: 14px; /* Avoid width reflow */
}
#navbarTop.has-modal-active, #navbarTop.has-modal-active2 {
    .navbar {
        padding-right: 14px; /* Avoid width reflow */
    }
}

.dropdown-menu {
    min-width: 7rem !important;
    width: max-content;
    max-width: 330px;
}


.tabs {
	&.is-boxed {
		a {
			padding-right: 1rem !important;
			padding-left: 1rem !important;
		}
    }
}

.has-background-turquoise {
    background-color: $turquoise !important;
}
.has-background-grey-light2 {
    background-color: $grey-light2 !important;
}
.has-text-turquoise {
    color: $turquoise !important;
}

.input.has-background-grey {
    background-color: $grey-light2 !important;
}

.boxShrinked {
    &.box {
        padding:0 !important;
    }

    .media {
        padding: 1rem !important;

        &.is-active {
            border: solid 2px $link !important;
        }
    }

    .media + .media {
        margin-top: 0 !important;
    }
}

.box.has-background-light {
    label {color: $grey;}
    color: black;
}


/*
 *
 * My style
 *
 */

.menu .menu-label {
    font-weight: bold !important;
}

#navbarTop {

    //#logo {
    //    height: $navbar-height !important;
    //    width: $navbar-height !important;
    //}

    .navbar-brand a {
        padding-bottom: 0 !important;
    }

    .navbar-brand svg {
        //-webkit-transform: rotate(45deg);
        //transform: rotate(45deg);
        //-webkit-transition: -webkit-transform .666s ease-in-out;
        //transition: transform .666s ease-in-out;
    }

    .navbar-start .navbar-item {
        font-size: 0.95rem;
        font-weight: 500 !important;
    }

    .navbar-link:not(.is-arrowless) {
        padding-right: 2rem;
        &:after {
            font-size: 12px !important;
        }
    }

    .navbar-dropdown {
        border: solid 2px $grey-darker;
    }
}

#helperBar {
    background-color: $header-background-color;
    & > .column {
        padding-top: 1.5rem !important;
        padding-bottom: 0 !important;
    }

    .breadcrumb {
        font-size: 1.1rem;
        a {
            color: $green-frac6-lighter;
            padding-right:0.4rem;
            padding-left:0.4rem;
        }
    }

    nav > .navbar {
        background-color: inherit !important;
        margin-bottom: 0.75rem !important;
        z-index: 29 !important;
        .navbar-brand {
            max-width: 50% !important;
        }
        .navbar-end {
            justify-content: flex-start !important;
            max-width: 50% !important;
            margin-right: -0.5rem !important;
            @include until($desktop) {
            max-width: 99% !important;
            }
        }

        .navbar-burger {
            float: right !important;
            margin-top: -3.5rem !important;
        }

        .navbar-menu {
            flex-shrink: 1 !important;
            background-color: inherit !important;
        }
    }

    nav > .tabs {
        font-size: 0.85rem;
        ul {
            border-bottom-color: #dbdee085;
        }
        &.is-boxed {
            a {
                border-radius: 8px 8px 0 0 !important;
            }
            li a:hover {
                background-color: $grey-dark;
                border-bottom-color: $tabs-boxed-link-hover-border-bottom-color;
            }
            li.is-active a {
                color: $green-frac6-lighter;
                background-color: $body-background-color;
                border-color: #dbdee085;
                border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
            }
        }
    }
}

#footBar {
    //background-color: $header-background-color;
    box-shadow: 0 0 1px 0 $white-ter;
    margin-top: 3rem;
    padding: 3rem 1.5rem 3rem;

    opacity: 0;
    animation: fadeIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    .contacts {
        span + span {
            padding-left: 15px !important;
        }
    }
}

#welcome {
    //background-color: #24292e;
    filter: invert(5%);
    .title {
        margin-bottom: 3rem !important;
        line-height: 1.1 !important;
        font-weight: 600 !important;
        font-size: 3rem !important;
    }
}

#tree-menu {
    a {
        padding-top: 4px;
        padding-bottom: 4px;
        justify-content: left;
        // protect from breadcrumb nowrap option.
        white-space: initial !important;
    }
    a:not(:last-child) {
        border-bottom: 1px solid $grey-dark;
    }
}

#leftPane {
  min-width: 155px !important;
  max-width: 225px !important;
  width: 13% !important;
  position: sticky;
  top: calc(#{$navbar-height} - #{$size-small});

  background-color: $menu-left-background-color;
  box-shadow: inset -1px 0 0 $menu-left-border-color;
  transform: translate3d(0, 0, 0);

  &.column {
    margin-top: 0;
  }

  .menu .hero {
    margin-bottom: 20px;
    margin-right: -$size-small + 0.05rem;
  }

  #secondHeroLabel {
      padding-right: 0;
  }

  .menu-list {
    //padding-left: 0;
    margin-left: 0;
    border-left: none;
  }

  .menu-list > li {
    padding-bottom: 7px;

    .hero-body {
        padding-right: 0.5rem;
    }

    li > a {
        padding-right: 0;
    }
  }
}

#menuSettings {
  border-right: solid 1px $grey !important;
  margin-right: 2rem;
  .menu-list {
      li {
          padding-bottom: $size-small;
      }
      a {
          &:hover {background-color: $grey-dark;}
          &.is-active {
              font-weight: 600;
              background-color: $blue-grey;
              color: $link;
          }
      }
  }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#mainPane {
    // when Helpbar is active
    /********** Bulma FIX ***********/
    /* Adjust left offet is too large */
    //margin-left: 5%;

    /* is-paddingless compatibility */
    padding-top: 1.25rem;

}

.divider {
    opacity: 0.24;
    &:hover {
        opacity: 1;
        transition: opacity 0.1s;
        cursor: pointer;
    }
}


#explore {
    .media + .media {
        border-top: none !important;
        padding-top: 1.5rem !important;
    }
}

#profile {
    .media + .media {
        border-top: none !important;
    }
}

.nodesList {
    .media-content{
        overflow: unset
    }
    hr {
        margin-top: 0.5rem !important;
    }
    #icons {
        margin-bottom: 0.5rem !important;
    }
}

#createOrga {
    h1.title {
        margin-bottom: 3rem !important;
    }
}

//
// Overview and Doc
//

.buttonRole {
    border-width: 0 !important;
    font-weight: 500;
    &.is-orange {
        background-color: $orange-frac6 !important;
        color: white !important;
    }
}

.docToolbar {
    .button {
        &.is-active {
            color: $blue !important;
        }
    }
}

.buttonsToolbar {
    .field {
        margin-top: -0.8rem !important;
        margin-right: -1rem !important;
    }
    .button {
        font-size: 0.6rem !important;
        //padding-bottom: 2px !important;
    }
}

#activities {
    padding-top: 0.5rem;
    & > .title {
        margin-bottom: 1rem !important;
    }
}

#DocContainer {
    border-radius: 5px;
    .title {
        //
    }
    .subtitle {
        //
    }

    .hero-body > a,.hero-body > div > a, .content a {
        color: $blue;
    }

    .hero-body > hr {
        margin-top: 1rem !important;
        margin-bottom: 1.5rem !important;
    }

    .message-body {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .content {
        p {
            font-size: 15px !important;
        }
    }

}

.aboutDoc {
    & > .column.is-fullwidth {
        //padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .media { margin-bottom: 1rem !important; }
    .media-left { margin-right: 0 !important; }

    .nodeName {
        font-weight: 600 !important;
        color: $grey-dark !important;

    }

    .subtitle {
        .nodeName a {
            color: $blue-grey !important;
        }
        a:hover, a:hover .content {
            color: $blue !important;
            transition: none;
            &:after, a:before { transition: none; }
        }
        a, a .content {
            transition: none;
            &:after, a:before { transition: none; }
        }
    }
}

.mandateDoc {
    .message-header {
        background-color: $grey !important;
    }
    .message-body {
        background-color: $white-light !important;
    }
}

.mandateEdit {
    .label { color: #363636 }
}



//
// Tension/Blob Page
//
#tensionPage  {

    .tensionTitle {
        font-size: 1.9rem !important;
        font-weight: 600;
        margin-top: 1rem;
    }

    .tensionSubtitle {
        font-size: 14px !important;
        & > span:not(:last-child) {
            margin-right: 12px !important;
        }

        .tag {
            height: 1.7rem !important;
        }
    }

    .column > .tabs {
        ul {
            border-bottom-color: $grey !important;
        }

        li {
            a {
                border-bottom-color: $grey !important;
            }
            &.is-active a {
                border-bottom-color: $link !important;
                color: inherit;
            }
            a:hover {
                border-bottom-color: lighten($link, 25) !important;
            }
        }
    }

    .tensionComments {
        .media + .media {
            margin-top: 1.5rem !important;
            border: 0 !important;
        }

        .message {
            background-color: $body-background-color !important;
            //background-color: #404953 !important;
            border: 1px solid  $grey-darker  !important;
            .tabs a {
                text-decoration: none !important;
            }
            .message-header {
                display: inherit !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                background-color: $comment-header-background-color !important;
                border-bottom: solid 1px $grey-dark;
                a {
                    font-weight: 600 !important;
                    text-decoration: none !important;
                }

                .dropdown-trigger {
                    position: relative;
                    bottom: $size-small2;
                    left: $size-small;
                    padding: $size-small2 $size-small $size-small2 $size-small ;
                    border-left: 1px solid $grey-darker;
                    &:hover { cursor: pointer !important; }
                    &:active { color: $grey; }
                }
                .dropdown-menu {
                    margin-top: -$size-small;
                    margin-right: -$size-small !important;
                }

                .ellipsis {
                    opacity: 0.75 !important;
                }
            }
            // CSS arrow please !
            .message-header:after, .message-header:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			.message-header:after {
				//border-color: rgba(52, 60, 61, 0);
				border-right-color: $comment-header-background-color !important;
				border-width: 8px;
				margin-top: -8px;
			}
			.message-header:before {
				//border-color: rgba(52, 60, 61, 0);
				border-right-color: $grey-darker;
				border-width: 9px;
				margin-top: -9px;
			}

            .message-body {
                padding: 1rem 0.9rem !important;
                font-size: 15px;
            }
        }

        .tensionCommentInput {

            .tabs, .tabs.is-boxed  {
                ul {
                    border-bottom-color: $grey !important;
                }
                li a  {
                    color: $grey-light !important;
                }
                li:not(.is-active) a:hover {
                    background-color: inherit;
                }
                li.is-active a {
                    color: $grey-lighter !important;
                    text-decoration: none !important;
                    border-color: $grey;
                    border-bottom-color: body-background-color !important;
                }
            }

            .message-header {
                border: 0;
                font-weight: 500 !important;
                padding: 0 0.75rem !important;
                a {
                    font-weight: 600 !important;
                    text-decoration: none !important;
                    //&:hover { text-decoration: underline !important; }
                }
            }

            .message-body {
                padding: 0.75rem 0.75rem !important;
            }

        }

        .actionComment {
            margin-left: 5rem !important;
            font-size: 14px !important;
        }
    }

    .tensionSidePane {
        margin-top: 2.25rem !important;

        .media:first-child {
            border-top: 1px solid $grey !important;
            padding-top: 1rem !important;
        }

        .media + .media {
            border-top: 1px solid $grey !important;
            margin-top: 2rem;
        }

        .media-content {
                font-size: 14px !important;
            .subtitle {
                font-size: 13px !important;
                font-weight: 600 !important;
                color: $grey-light2;
                margin-bottom: 1rem !important;
            }
        }
    }

    .tensionTitle, .tensionComments, .tensionSidePane  {
        textarea, input {
            &:not(.in-modal) {
                color: $white-1 !important;
                background-color: #33383ed9 !important;
                &::placeholder {
                    color: $white-ter !important;
                }
            }
        }
    }

    .sidePanel {
        &.in-horizon {
            @media screen and (min-width: $tablet) {
                margin-left: 150px !important;
            }
        }
    }
}

.sidePanel {
    position: absolute;
    background: lighten($body-background-color, 7);
    border: 1px solid $grey-light;
    min-width: 250px;
    max-width: 450px;
    z-index: 25;

    .control {
        .icon { color: $grey !important; }
    }

    .selectors {
        max-height: 280px;
        overflow-y: auto;
    }

    p {
        &.panel-block {
            &:hover {
                cursor: pointer !important;
                background: lighten($body-background-color, 5) !important;
            }
        }
        .panel-icon {
            font-size: 1.5rem;
        }
    }

    &.in-horizon {
        margin-top: -10px;
        @media screen and (min-width: $tablet) {
            margin-left: 135px;
        }
    }

}

.is-reversed > .sidePanel {
    bottom: 2rem;
}

#colorPicker {
    position: absolute;
    z-index: 25;
    background-color: $white-light;
    color: black;
    border-radius: 5px !important;
    border: 1px solid $grey-light;
    padding: 10px;

    .colorBoxes {
        width: 256px;
    }

}
.buttonColor {
    width: 28px !important;
    height: 28px !important;
    border-radius: 6px !important;
    border-width: 0 !important;
    margin: 0px 8px 5px 0px;
    &:hover {cursor: pointer; }
}

#actionPanelContent {
    .dropdown-content {
        position: absolute;
        z-index: 25;
        min-width: 10rem;
        &.is-right {
            left: auto;
            right: 0;
        }
    }
}

.tensionDocument {

    .blobToolBar {
        margin-bottom: 1rem;
    }
}


.tagsinput {
	height: auto !important;
    margin-bottom: 0 !important;
	.control {
		margin-bottom: 0em !important;
		margin-top: 0em !important;
	}
	input {
        flex: auto;
		border: none;
		margin-bottom: 0em !important;
		margin-top: 0em !important;
	}
    .tag {
        &.is-active {
            background-color: $primary;
            color: findColorInvert($primary);
        }
        &.is-delete {
            &:hover {
                cursor: pointer;
                color: $red;
                background-color: $white-ter;
            }
        }
    }
}

//
// Search Bar and QuickSearch
//

.searchBar {
    .input, .button, select {
        height: 2.2rem !important;
    }
}

#searchBarOverview {
    width: 100.25% !important;
    padding-top: 5px !important;
    margin-bottom: 12px !important;

    #searchList {
        margin-top: -12px !important;
    }

    .searchBar > div:first-child {
        display: inline-flex;
        position: relative;
        vertical-align: top;
    }

    .controlButtons {
        //display: flex;
        //flex-grow: 1;
        //flex-direction: column;
        max-width: 55% !important;
        & > .button:first-child {
            padding-right: 0 !important;
            &:hover { border-color: $grey; }
        }

        .ellipsisArt {
            margin-left: 5px !important;
            margin-right: 8px !important;
            color: $green-frac6 !important;
        }
    }

    .button {
        border: 1px solid $grey;
    }

    #actionPanelContent > .button {
            border-left-color: $grey !important;
            border-left-width: 1px !important;
            border-left-style: solid;
            &:hover { border-color: $grey; }
    }
}

#searchBarTensions {
    padding-top: 5px;

    & > .field {
        margin-bottom: 0.25rem !important;
    }

    .tabs {
        margin-bottom: 0.75rem !important;
        ul {
            border-bottom-color: $grey !important;
            border-bottom-with: 2px !important;
        }
        li {
            a {
                border-bottom-color: $grey !important;
            }
            &.is-active a {
                border-bottom-color: $link !important;
                color: inherit;
                font-weight: 600 !important;
            }
            & a:hover {
                border-bottom-color: lighten($link, 20) !important;
            }
        }
    }
}

.filterBar.has-addons {
    .control {
        .button {
            border: 1px solid $grey !important;
            //background-color: #558db3 !important;
            &:hover {
                background-color: #4281ac !important;
            }
        }

        &:first-child .button {
            border: 1px solid $grey !important;
            border-top-left-radius: 15px !important;
            border-bottom-left-radius: 15px !important;
        }
        &:not(:first-child):not(:last-child) .button {
            border-radius: 0px !important;
            border-radius: 0px !important;
        }
        &:last-child .button {
            border-top-right-radius: 15px !important;
            border-bottom-right-radius: 15px !important;
        }
    }
}

#searchList {
    //top: 100% !important;
    position: absolute !important;
    z-index: 20 !important;
    width: 99.9% !important;
    height: 412px;
    max-height: 400px !important;
    overflow-y: auto !important;

    .table, .table.is-fullwidth {
        //flex-grow: 1;
        //flex-shrink: 1;
        display: inline-table;
        background-color: #fffffdf6 !important;
        line-height: 1.4 !important;
        font-size: 0.775rem !important;

        .help {
            border-bottom: 1px solid #22222222;
        }
    }

    // @debug don't work !
    //tbody {
    //    max-height: 400px !important;
    //    overflow-y: auto !important;
    //}

    thead th,
    thead td {
        color: #acb6c1 !important;
        background-color: #eeeeedf2 !important;
    }
    tbody th,
    tbody td {
        border: 0 !important;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        color: #24292e !important;
    }

    a:hover,& a:focus,
    tr:hover,& tr:focus,
    span:hover,&  span:focus {
        background-color: #eee9d8 !important;
    }

     a.is-active,
     tr.is-active,
     span.is-active {
        background-color: #dfdfdf !important;
    }
}

//
// Tensions
//

#tensionsTab  {
    .tooltip {
        // Increase the area of activation (better UX)
        margin: -8px;
		border: 8px solid transparent;
        &::before,
        &::after {
             font-size: $size-6 !important;
        }
     }
}

.box #tensionsTab {
    .media {
        margin-top: 10px !important;
    }
}

.mediaTension {
    //border-bottom: 1px solid #e1e4e8;
    //margin-bottom: -1.11rem !important;
    .media-content {
        overflow: unset;

        // Improve UX when hovering content
        .content  {
            &:hover {
                a {
                    color: $link !important;
                }
                cursor: pointer !important;
            }
            & > a {
                margin-right: $size-small !important;
                color: $text !important;
                &:hover {
                    color: $link !important;
                }

            }
        }
    }
}

.labelsList {
    line-height: 2;
    .tag {
        margin-right: 8px !important;
    }
}

.usersList {
    //line-height: 2.5;
    span  {
        margin-right: 10px !important;
        margin-bottom: 10px !important; // doesn't work
    }
}

a.actionLink {
    color: inherit;
    &.has-text-warning {
        color: $orange !important;
    }
    //&:hover {
    //    color: $link !important;
    //}
}

.marginTensionStatus {
    margin-top: 0.66rem;
    margin-left: -2px;
}

//
// Members
//

#membersTable {
    width: 100% !important;
}

#labelsTable {
    width: 100% !important;

    & + & {
        margin-top: 6rem;
    }
}

/*
 *
 * Graph Pack Canvas
 *
 */

#canvasParent {
    min-height: 400px;
}

#canvasOrga {
    border-radius: 7px 7px 7px 7px !important;
    box-shadow: 0 0px 2px 1px #22101087;
    //background-image: linear-gradient(white, black) ;
}

// Tooltip: http://www.cssarrowplease.com/
#nodeTooltip {
    position: absolute;

    // Content
    color: black;
    background-color: $node-tooltip-background;

    // Box style
    padding: 2px 0px 1px 8px;
    border: 2px solid #333;
    border-style: solid;
    border-radius: 9px;

    // Tooltip style
    &::after,
    &::before {
        //font-family: "Font Awesome 5 Free";
        //font-weight: 900;
        //content: "\f007";
        content: "";
        position: absolute;
        top: 100%; /* This will position the arrow at the bottom of the tooltip */
        left: 50%;
        pointer-events: none;
        border: solid transparent;
    }
    &::after {
        margin-left: -6px;
        border-width: 6px;
        border-top-color: $node-tooltip-background;
    }
    &::before {
        margin-left: -7px;
        border-width: 7px;
        border-top-color: #333;
    }

    // -> on hover
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 1px 2px $node-tooltip-shadow;
        opacity: 1 !important;
    }

    // Animate the tooltip
    //transition: visibility 1s, opacity 1s;
    &.fadeIn {
        visibility: inherit;
        opacity: 0.9;
        transition: opacity 0.444s;
        &:hover {
            transition: opacity 0s;
        }
    }

    &.fadeOut {
        visibility: hidden;
        opacity: 0;
        //transition: visibility 0s 1s, opacity 1s; // fadOut transition don't works ?
    }

    .ellipsisArt {
        margin-left: 5px !important;
        margin-right: 5px !important;
        color: $green !important;
        font-size: 16px !important;
    }
}

#canvasButtons {
    position: absolute;
    //display: flex;
    flex-direction: column;

    .button {
        margin-right: 0;
    }
}

//
// Modal (Form)
//

.modal {
    display: flex;
    visibility: hidden;

    .modal-background {
        opacity: 0;
        transition: all $modal-out-duration;
    }

    .modal-close {
        background-color: #952222b8 !important;
        &:hover { background-color: #952222 !important;}
    }

    &.is-active {
        visibility: visible;
        .modal-background {
            opacity: 1;
            transition: all $modal-in-duration;
        }
    }

    &.modal-fx {
        &-fadeIn {
            .modal-content {
                //transform: scale(0.7);
                opacity: 0;
                transition: all $modal-out-duration;
            }

            &.is-active .modal-content {
                //transform: scale(1);
                opacity: 1;
            }
        }

        &-slideTop {
            .modal-content {
                transform: translateY(-50%);
                opacity: 0;
                transition: all $modal-out-duration;
            }

            &.is-active .modal-content {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    .modal-content, .modal-card {
        @media (min-width: $modal-width){
            min-width: $modal-width;
            .modal-card-body { padding: 20px 30px 20px 30px; }
        }
        @media (max-width: 768px){
            width: 98%;
            margin: 0 1%;
            max-height: calc(100vh - 20px);
        }

        &.is-huge {
            width: 100%;
            margin: 0px 20px;
            max-height: calc(100vh - 40px);
        }
        @include from($tablet) {
            &.is-huge {
                width: 100%;
                margin: 0px 20px;
                max-height: calc(100vh - 40px);
            }
        }
        &.is-tiny {
            max-width: 400px;
        }

        // type
        &.is-image {
            text-align: center;
            &.is-huge {
                width:auto;
            }

            img {
                max-height: calc(100vh - 50px);
            }
        }
    }

    // Positioning, center is default
    &.modal-pos {
        &-top {
            align-items: flex-start;
            .modal-content {
                margin-top: 1rem;
            }
        }
        &-bottom {
            align-items: flex-end;
            .modal-content {
                margin-bottom: 1rem;
            }
        }
    }

    .modal-card-body {
        background-color: $white-1 !important;
        color: #111;
    }

    .modal-card-title, .panel-heading,
    .modal-card-head,
    .modal-card-foot, {
        background-color: #e5e5e5;
        border-color: #ccc !important;
        color: #111;
        div:not(.dropdown-content) {
            color: inherit;
            background-color: inherit;
        }
        @media (max-width: 768px){
            padding-top: 10px;
            padding-bottom: 10px;
        }

    }

    .tabs, .tabs.is-boxed {
        margin-bottom: 0;
        ul {
            border-bottom: 0 !important;
        }
        li a {
            color: $blue-grey;
        }
        li a:hover {
            background-color: $blue-light;
        }
        li.is-active a {
            color: $grey;
            background-color: $white-1;
            border-top-color: $blue-grey;
            border-top-width: 3px;
            &:hover {
                background-color: $white-1;
            }
        }
        li:not(:last-child) a {
            border-right-color: $grey-lighter;
        }

        &#tensionTabTop {
            min-height: 42px;
            background-color: #e5e5e5;
            border-bottom: solid 1px $grey-lighter !important;
        }
    }

    .card {
        background-color: #eee;
    }
    .card-header-title, .label {
        color: #363636
    }

    .box.is-light {
        background-color: #dce3e3;
        color: black;
    }
}

.modal.fixed-top {
    .modal-content {
        position: absolute;
        top: 5%;
        overflow: hidden;
    }

    .modal-card-body {
        overflow: auto !important;
        height: 10%;
        @media (min-width: $desktop ){
            max-height: calc(72vh);
        }
    }
}

#tensionModal {

    .message {
        //background-color: $white-light;
        background-color: inherit;
        .tabs, .tabs.is-boxed  {
            li a  {
                color: $grey-light !important;
            }
            li a:hover{
                background-color: inherit !important;
            }
            li.is-active a {
                text-decoration: none !important;
                background-color: $white-light !important;
                border-top-width: 2px !important;
            }
        }
    }

    .message-header {
        background-color: $white-ter;
        font-weight: 500 !important;
        padding: 0 !important;
        a {
            font-weight: 600 !important;
            text-decoration: none !important;
            &:hover { text-decoration: underline !important; }
        }
    }

    .message-body {
        //padding: 0.75rem 0.75rem;
        padding: 0;
    }
}


.subForm {
    height: 1.8rem !important;
    .field .input, .field-label {
        font-size: 0.8rem !important;
        height: 1.8rem !important;
    }

    .field-body {
        div:nth-child(1) {
            //background-clip: padding-box !important;
            background: $grey-lighter !important;
            padding: 0.35rem 1.5rem 0 1.5rem;
            font-size: 0.8rem;
        }
        .input:nth-child(2) {
            width: unset;
            padding-right: 5px !important;
            border-radius: unset !important;
            border: 1px solid $grey-light2;
        }
        .input:nth-child(3) {
            background: #f6f6f6 !important;
            border-radius: unset !important;
        }
    }
}

.cardForm {
    &>div:nth-child(1) { padding: 0.25rem 0 0.25rem 0;}
    border-width: 1px !important;
    border-color: $grey-light !important;
    margin-bottom: 2rem !important;
}

.select.is-orange, .select.is-orange::after,
.select.is-orange select,
.select.is-orange select:focus,
.select.is-orange select:active {
    border-color: $orange-frac6 !important;
}
.has-text-orange {
    color: $orange-frac6 !important;
}
.has-background-orange {
    background: $orange-frac6 !important;
}

#refreshAuthModal {
    &.modal.is-active {
        z-index: 100 !important;
    }
    .modal-background {
        background-color: $grey-light;
    }
}

#actionPanelModal {
    &.modal.is-active {
        z-index: 40 !important;
    }
}

#helpModal {
    .modal-content, .modal-card {
        @media (min-width: $fullhd ){
            height: 90%;
        }
        @media (min-width: $widescreen ){
            height: 90%;
        }
        @media (min-width: $desktop ){
            height: 94%;
        }
        @media (min-width: $modal-width-large){
            height: 95% !important;
            min-width: $modal-width-large !important;
            .modal-card-body { padding: 30px; }
        }

    }

    .modal-card-head {
        display: block;
        padding: 10px 10px 0px 10px;
    }

    .modal-card-body {
        background-color: $white-light !important;
    }

    .tabs  {
        li {
            a, span {
                color: $grey;
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 0.2em 1em;
                cursor: pointer;
            }
            &.is-active {
                a, span {
                    color: $grey-darker;
                    border-bottom-color: orange !important;
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    padding-bottom: 0.15em;
                    margin-bottom: -1px;
                }
            }

        }
    }
}


/*
 *
 * Utils
 *
 */


.is-w {
    &:hover {
        color: $white-ter !important;
        cursor: pointer;
    }
}

.button-light {
    &:hover {
        cursor: pointer !important;
    }
    &:active:not(.dropdown-item) {
        -webkit-filter: invert(50%);
        filter: invert(50%);
    }
    &.dropdown-item:active {
        -webkit-filter: invert(10%);
        filter: invert(10%);
    }

    &.is-warning {
        color: $orange;
    }
    &.is-danger {
        color: $red;
    }
}

.right-arrow {
    &::after {
        content: " \27F6 ";
        padding-right: 5px;
        padding-left: 5px;
    }
}

.is-vbar-1 { // next buttons
	display: inline-block;
	border-left: 1px solid #ccc;
	height: 26px;
    padding-left: 0.5rem;

    margin-top: 2px !important;
    @include until($desktop) {
        margin-bottom: 9px !important;
    }
}

.is-vbar-2 { // next tabs
	display: inline-block;
	border-left: 1px solid #ccc;
	height: 18px;
    margin-left: 5px;
    padding-left: 5px;

    //@include until($desktop) {
    //    margin-bottom: 9px !important;
    //}
}

.vline {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    &::after, &::before {
        height: auto;
        width: 1px;

        content: '';
        display: block;
        flex: 1;
        background-color: $grey;
    }
}

.is-ellipsis {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Circle {
    padding-bottom: 2px;
    &::before {
        content: ' \25CF'; // draw a circle (use as tag/bullet)
        font-size: 12px;
    }
}

.circleBase {
    border-radius: 50%;
    color: white !important;
}

.circleBaseInline {
    border-radius: 50%;
    color: white !important;
    display: inline-block !important;
}

.circle0 {
    width: 38px;
    height: 38px;
    background: $blue;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 10px;
    font-size: 0.8rem;
}

.circle1 {
    width: 45px;
    height: 45px;
    background: $blue;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 12px;
    font-size: 0.9rem;
}

.circle2 {
    width: 55px;
    height: 55px;
    background: #285a86;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 14px;
}

.circle3 {
    width: 200px;
    height: 200px;
    background: #575c64;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 50px;
    font-size: 4rem;
}


/*
 *
 * Loading  Spinner
 *
 */

.spinner {
    // The height here is just for demo purposes
    height: 25vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
	&::before {
		animation: 1.3s linear infinite spinner;
		border: solid 3px #eee;
		border-bottom-color: #6588EF;
		border-radius: 50%;
		content: "";
		height: 40px;
		left: 50%;
		opacity: inherit;
		position: absolute;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		transform-origin: center;
		width: 40px;
		will-change: transform;
	}
    &.is-small::before {
        height: 20px !important;
        width: 20px !important;
    }
}

.spinner2 { // @todo fix
    // The height here is just for demo purposes
    //height: 25vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
	&::before {
		animation: 1.3s linear infinite spinner;
		border: solid 3px #eee;
		border-bottom-color: #6588EF;
		border-radius: 50%;
		content: "";
		height: 40px;
		left: 0%;
		opacity: inherit;
		position: absolute;
		//top: 50%;
		transform: translate3d(-50%, -50%, 0);
		transform-origin: center;
		width: 40px;
		will-change: transform;
	}
    &.is-small::before {
        height: 20px !important;
        width: 20px !important;
    }
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}


/*
 *
 * Placeholder Loading
 *
 */

.is-lazy {
    opacity: 0.6;
}

@keyframes placeHolderLine{
    0%{
        background-position: -460px 0
    }
    100%{
        background-position: 460px 0
    }
}
.ph-line {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderLine;
    animation-timing-function: linear;
    background: linear-gradient(to right, #444444 8%, #555555 18%, #444444 33%);
    display: inline-block;
    height: 1.5rem;
    overflow: hidden;
	border-radius: 20px;
    position: relative;
    top: 5px;

    &.is-0 {
        width: 225px;
    }
    &.is-1 {
        width: 460px;
    }
}

@keyframes placeHolderButton{
    0%{
        background-position: -120px 0
    }
    100%{
        background-position: 120px 0
    }
}
.ph-button-1 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderButton;
    animation-timing-function: linear;
    background: linear-gradient(to right, #444444 8%, #555555 18%, #444444 33%);
    display: inline-block;
    height: 2.2rem;
    overflow: hidden;
	border-radius: 5px;
    width: 120px;
    position: relative;
    top: 5px;
}

/*
  --------------
  Pulse effect animation
  Activated by adding a '.pulse' class to the placeholder
  --------------
*/

.ph.pulse div{
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation:pulse 1s infinite ease-in-out;
}

@keyframes pulse
{
  0%{
    background-color: rgba(165,165,165,.1);
  }
  50%{
    background-color: rgba(165,165,165,.3);
  }
  100%{
    background-color: rgba(165,165,165,.1);
  }
}

@-webkit-keyframes pulse
{
  0%{
    background-color: rgba(165,165,165,.1);
  }
  50%{
    background-color: rgba(165,165,165,.3);
  }
  100%{
    background-color: rgba(165,165,165,.1);
  }
}

/*
  --------------
  Wave effect animation
  Activated by adding a '.wave' class to the placeholder
  --------------
*/

.ph.wave div{
    animation: wave 1s infinite linear forwards;
    -webkit-animation:wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}

@keyframes wave{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@-webkit-keyframes wave{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

/*
 * Canvas spinner
 */


// don't work, but cool to rotate an element xD
.rotate-spinner {
	-webkit-animation:busyIcon 2s linear infinite;
	-moz-animation:busyIcon 2s linear infinite;
	animation:busyIcon 2s linear infinite;
}
@-moz-keyframes busyIcon { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes busyIcon { 100% { -webkit-transform: rotate(360deg); } }
@keyframes busyIcon { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*
 *
 * Accordion
 *
 */
.accordion {
	//margin: auto;
	//width: 400px;
}
.accordion input {
	display: none;
}
.acc {
	position: relative;
	height: $acc-height-subtitle;
	transition: all .15s ease-in-out;
}
.acc::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	//box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.acc {
	background: $grey-lighter;
	z-index: 100;
	cursor: initial;
	height: $acc-height-title !important;
	//box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .acc-title {
	margin: 0;
	font-weight: 600;
	font-size: 12pt;
	color: $darker;
	cursor: initial;
	height: $acc-height-title !important;
	line-height: $acc-height-title !important;
}
.acc-title {
	//width: calc(100% - 40px);
    width: 100%;
	height: $acc-height;
	line-height: $acc-height;
	padding: 0 20px;
	color: $grey-darker;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.acc-content {
	width: calc(100% - 20px);
	padding: 20px 10px 20px 20px;
	font-size: 11pt;
	color: $grey-dark;
	display: none;
}
.acc-close {
	position: absolute;
	height: $acc-height-subtitle;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
section.acc > .acc-title {
	border-top: 1px solid rgba(0,0,0,.18);
}
input:checked + .acc {
	height: auto;
	//margin: 16px 0;
	//box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + section.acc .acc-title {
    background-color: $blue-light;
}
input:checked + .acc .acc-content,
input:checked + .acc .acc-close {
	display: inline-block;
}
.arrows section .acc-title {
	padding-left: 44px;
	width: calc(100%);
}
.arrows section .acc-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.acc .acc-title:before {
	transform: rotate(90deg);
}


/*
 *
 * Ugly focus management
 *
 */


*:focus {
  /* no outline for non-keyboard-inputs elements (other see *:focus:not(:focus-visible) */
  outline: none !important;
}
button::-moz-focus-inner { // remove outline inside button !
    border: 0 !important;
}

