
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
 *
 * Bulma fixes
 *
 */

#body {
    // FIX the fix-top-navbar padding (for the #mainPane}
    padding-top: calc(#{$navbar-height} - 0.5rem ) !important; // why - 0.5 ? mystery

    // For discrete footer.
    min-height: calc(100vh - #{$navbar-height}) !important;
}

hr {
    height: 1px !important;
    &.is-2 {
        height: 2px !important
    }
    &.is-3 {
        height: 4px !important
    }
}

.content.markdown.is-light {
    pre, code {
        background-color: $code-color !important;
    }
}

.content.markdown.is-dark {
    color: #111 !important;
    h1, h2, h3, h4, h5, h6, strong {
        color: #111 !important;
    }
    pre, code {
        background-color: $code-color !important;
    }
    pre, code, blockquote {
        color: #fff !important;
    }
}


.column {
  /*  Fix/scrollable column */
  &.is-fullheight {
    min-height: calc(100vh - #{$navbar-height} + #{$size-small});
    max-height: calc(100vh - #{$navbar-height} + #{$size-small});
    height:     calc(100vh - #{$navbar-height} + #{$size-small});
    //display: flex;
    //flex-direction: row;
    //justify-content: stretch;

    overflow-y: auto;
    }
}


.help-label {
  //font-family: bold !important;
  color: $grey !important;
  display: block !important;
  font-size: $help-size !important;
  margin-top: 0.25rem !important;
}
.help {
  color: $grey-light !important;
}

// Tooltip

.tooltip.has-tooltip-multiline::before {
  white-space: pre-line !important;
}

.tooltip {
    // Tooltip has fadin, and no fadout
    transition: none !important;
    transition-delay: none !important;

    &.has-tooltip-active,
    &:focus,
    &:hover {
        &::after,
        &::before {
            transition: all .15s linear !important;
            transition-delay: $tooltip-transition-duration !important;
        }
    }
}

// Modal

html.has-modal-active {
    // @DEBUG: make a unpleaser window glitch when scollbar diseaper !
    overflow: hidden !important;
    padding-right: 14px; /* Avoid width reflow */
    //position: fixed;
    //width: 100%;
}
#navbarTop.has-modal-active {
    .navbar {
        padding-right: 14px; /* Avoid width reflow */
    }
}

// Breadcrumb
.breadcrumb {
    a {
        color: $green-frac6-lighter;
        padding-right:0.4em;
        padding-left:0.4em;
    }
}


// Tabs
.tabs {

    ul {
        border-bottom-color: #dbdee085;
    }

    &.is-boxed {

        a {
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }

        li a:hover {
            background-color: $grey-dark;
            border-bottom-color: $tabs-boxed-link-hover-border-bottom-color;
        }

        li.is-active a {
            color: $green-frac6-lighter;
            background-color: $body-background-color;
            border-color: #dbdee085;
            border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
        }
    }
}

.icon {
    color: #11111133 !important;
}

.has-background-turquoise {
    background-color: $turquoise !important;
}
.has-text-turquoise {
    color: $turquoise !important;
}

.input:active, .input:focus,
.textarea:active, .textarea:focus {
    border-color: $turquoise !important;
}

.is-flex-grow {
    flex-grow: 1;
}

/*
 *
 * My style
 *
 */


/////

.menu .menu-label {
    font-weight: bold !important;
}

#navbarTop {

    //#logo {
    //    height: $navbar-height !important;
    //    width: $navbar-height !important;
    //}

    .navbar-brand a {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-left: $size-small;
        margin-left: 0;
		background-color: $navbar-brand-background-color;
    }

    .navbar-brand svg {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        -webkit-transition: -webkit-transform .666s ease-in-out;
        transition: transform .666s ease-in-out;
    }

}

#helperBar {
    background-color: $header-background-color;

    & > .column {
        padding-top: 1.5rem !important;
        padding-bottom: 0 !important;
    }

    & nav > .level {
        margin-top: 1rem;
        //margin-bottom: 1.75rem;
    }

    .tabs {
        font-size: 0.85rem;
    }


}

#footBar {
    //background-color: $header-background-color;
    box-shadow: 0 0 1px 0 $white-ter;
    margin-top: 3rem;
    padding: 3rem 1.5rem 3rem;

    opacity: 0;
    animation: fadeIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    .contacts {
        span + span {
            padding-left: 15px !important;
        }
    }
}

#welcome {
    //background-color: #24292e;
    .title {
        margin-bottom: 2.9rem !important;
        line-height: 1.1 !important;
        font-weight: 600 !important;
        font-size: 3rem !important;
    }
}

#leftPane {

  min-width: 155px !important;
  max-width: 225px !important;
  width: 13% !important;
  position: sticky;
  top: calc(#{$navbar-height} - #{$size-small});

  background-color: $menu-left-background-color;
  box-shadow: inset -1px 0 0 $menu-left-border-color;
  transform: translate3d(0, 0, 0);

  &.column {
    margin-top: 0;
  }

  .menu .hero {
    margin-bottom: 20px;
    margin-right: -$size-small + 0.05rem;
  }

  #secondHeroLabel {
      padding-right: 0;
  }

  .menu-list {
    //padding-left: 0;
    margin-left: 0;
    border-left: none;
  }

  .menu-list > li {
    padding-bottom: 7px;

    .hero-body {
        padding-right: 0.5rem;
    }

    li > a {
        padding-right: 0;
    }

  }

}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#mainPane {
  /********** Bulma FIX ***********/
  /* Adjust left offet is too large */
  //margin-left: 5%;

  /* is-paddingless compatibility */
  padding-top: 1.25rem;
  /*********************************/

  // the first children
  .is-child:first-child {
    padding-right: $size-small !important;
  }

  // all children except the first
  .is-child + .is-child {
    padding-right: $size-small !important;
    padding-left: $size-small !important;
  }

}


#explore {
    .media + .media {
        margin-top: 1.5rem !important;
        padding-top: 1.5rem !important;
    }

}

#profile {
    .media + .media {
        border-top: none !important;
    }
}

.levelExplore {
    .level-item {
        margin-right: 15px !important;
    }
}

.mediaTension {
    //border-bottom: 1px solid #e1e4e8;
    //margin-bottom: -1.11rem !important;
    & .media-content {
        // Improve UX when hovering content
        & .content  {
            &:hover {
                a {
                    color: $link !important;
                }
                cursor: pointer !important;
            }
        }
        & .content > a  {
            color: $white-light !important;
            &:hover {
                color: $link !important;
            }
        }
    }

    .mediaFragments {
        //.column:not(:last-child), .column.is-mobile:not(:last-child) {
        .column, .column.is-mobile {
            padding-left:0 !important;
            padding-right:0 !important;
            margin-left:4px !important;
            margin-right:4px !important;
        }

        .fa-stack > i.fa-pen {
            top: -5px;
            left: 5px;
        }

    }

}

#tensionPage {

    .tensionTitle {
        font-size: 1.9rem !important;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tensionSubtitle {
        font-size: 14px !important;
        & > span {
            margin-right: 12px !important;
        }

        .tag {
            height: 2.25em !important;
        }
    }

    .tensionComments {
        .media + .media {
            margin-top: 1.5rem !important;
            border: 0 !important;
        }

        .message {
            background-color: $body-background-color !important;
            border: solid 2px  $grey-dark  !important;

            .tabs a {
                text-decoration: none !important;
            }
        }

        .tensionCommentInput {
            .message-header {
                padding-bottom: 0 !important;
            }
            .message-body {
                padding: 0.75em 0.75em !important;
            }
        }

        .message-header {
            font-size: 14px !important;
            font-weight: 500 !important;
            background-color: $grey-dark;
            border-radius: 0 !important;
            a {
                font-weight: 600 !important;
                text-decoration: none !important;
            }
            a:hover {
                text-decoration: underline !important;
            }
        }

        .actionComment {
            margin-left: 100px !important;
        }
    }

    .tensionSidePane {
        border-top: 1px solid $grey-dark !important;
        margin-top: -37px !important;

        .media + .media {
            border-top: 1px solid $grey-dark !important;
        }
    }

}


.finalModal {
    .message {
        background-color: $white-light !important;
        border: solid 2px  $white-ter  !important;

        .tabs, .tabs.is-boxed  {
            li a  {
                color: #111 !important;
            }
            li a:hover{
                background-color: $white-ter !important;
            }
            li.is-active a {
                text-decoration: none !important;
                background-color: $white-light !important;
            }
        }
    }

    .message-header {
        background-color: $white-ter;
        padding-bottom: 0 !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        border-radius: 0 !important;
        //padding-bottom: 0 !important;
        a {
            font-weight: 600 !important;
            text-decoration: none !important;
        }
        a:hover {
            text-decoration: underline !important;
        }
    }

    .message-body {
        padding: 0.75em 0.75em !important;
    }

}

.searchBar {
    .input, .button, select {
        height: 2.8em !important;
    }

    .select {

        &::after {
            border-color: $primary !important;
        }

        & select, & select::after {
            //color: rgba(0, 0, 0, 0.7) !important;
            color: $white-light !important;
            //background-color: $grey-lighter !important;
            background-color: #558db3 !important;
            font-weight: 600 !important;
            border: 0 !important;
        }
        & select:hover {
            //background-color: $white-light !important;
            background-color: #4281ac !important;
        }
        // Don't work, we still have the dotted square
        & select:focus, & select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
            outline: none !important;
        }
    }
}

#searchBarOverview {
    width: 100.25% !important;
    padding-top: 5px !important;
    margin-bottom: 12px !important;

    .input {
        font-weight: 700 !important;
    }

    .controlButton {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        max-width: 50% !important;

        .text {
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

}
#searchBarTensions {
    padding-top: 5px;

    .input {
        font-weight: 700 !important;
    }
    & > .field {
        margin-bottom: 0.25rem !important;
    }

    .tabs {
        margin-bottom: 0.75rem !important;
    }

    .control {
        select {
            padding-right: 0 !important;
            border: 1px solid !important;
        }
    }
}

#searchList {
    width: 99.9% !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
    &>div {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        max-height: 288px !important;
        overflow-y: auto;
    }

    color: #24292e !important;
    background-color: #fff9d8a3 !important;

    & .table.is-fullwidth {
        flex-grow: 1;
        flex-shrink: 1;
        display: inline-table;
    }

    & thead th,
    & thead td {
        color: #acb6c1 !important;
    }
    & tbody th,
    & tbody td {
        border: 0 !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: #24292e !important;
    }

    & a, tr,
    & div,
    & span {
        color: #24292e !important;
        background-color: #fff9d880 !important;
        line-height: 1.4 !important;
        font-size: 0.775rem !important;
    }

    & a:hover,& a:focus,
    & tr:hover,& tr:focus,
    & span:hover,&  span:focus {
        background-color: #eee9d8 !important;
    }

     & a.is-active,
     & tr.is-active,
     & span.is-active {
        background-color: #d5ceb5 !important;
    }

}

#tensionsTab  {
     .labelsList {
         // all children except first
         .tag + .tag {
             margin-left: 7px !important;
         }
     }

    .tooltip {
        // Increase the area of activation (better UX)
        margin: -8px;
		border: 8px solid transparent;
        &::before,
        &::after {
             font-size: $size-6 !important;
        }
     }
}

.box #tensionsTab {
    .media {
        margin-top: 10px !important;
    }
}

#mandateContainer {
    border-radius: 5px;

    .title {
        //margin-bottom: 1rem !important;
    }

    .hero-body > hr {
        margin-top: 1rem !important;
        margin-bottom: 1.5rem !important;
    }

    & .content p {
        font-size: 15px !important;
    }

    .message-body {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.aboutDoc {
    .nodeName {
        font-weight: 600 !important;
        color: $grey !important;
    }
}

.mandateDoc {
    .message-header {
        background-color: $grey !important;
    }
    .message-body {
        background-color: $white-light !important;
    }
}

.buttonRole {
    border-width: 0 !important;
    font-weight: 500 !important;
    &.is-orange {
        background-color: $orange-frac6 !important;
        color: white !important;
    }
}


#membersTable {
    width: 100% !important;
}

/*
 *
 * Graph Pack Canvas
 *
 */

#canvasParent {
    min-height: 400px;
}

#canvasOrga {
    border-radius: 7px 7px 7px 7px !important;
    box-shadow: 0 0px 2px 1px #22101087;
    //background-image: linear-gradient(white, black) ;
}



// Tooltip: http://www.cssarrowplease.com/
#nodeTooltip {
    position: absolute;

    // Content
    color: black;
    background-color: $node-tooltip-background;

    // Icon font button
    .ellipsisArt {
        //position: absolute;
        //bottom: 12px;
        //right: -19px;
        ///--
        margin-left: -4px;
        margin-right: -4px;

        font-size: 13px;
        .far.fa-circle {
            color: black;
        }
        .fas.fa-circle {
            color: $node-tooltip-background;
        }
        .fas.fa-ellipsis-h {
            color: $primary;
        }
    }

    // Box style
    padding: 2px 6px 2px 6px;
    //text-align: center;
    border: 2px solid #333;
    border-style: solid;
    border-radius: 9px;

    // Tooltip style
    &::after,
    &::before {
        //font-family: "Font Awesome 5 Free";
        //font-weight: 900;
        //content: "\f007";
        content: "";
        position: absolute;
        top: 100%; /* This will position the arrow at the bottom of the tooltip */
        left: 50%;
        pointer-events: none;
        border: solid transparent;
    }
    &::after {
        margin-left: -6px;
        border-width: 6px;
        border-top-color: $node-tooltip-background;
    }
    &::before {
        margin-left: -7px;
        border-width: 7px;
        border-top-color: #333;
    }

    // -> on hover
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 1px 2px $node-tooltip-shadow;
        opacity: 1 !important;
    }

    // Animate the tooltip
    //transition: visibility 1s, opacity 1s;
    &.fadeIn {
        visibility: inherit;
        opacity: 0.9;
        transition: opacity 0.444s;
        &:hover {
            transition: opacity 0s;
        }
    }

    &.fadeOut {
        visibility: hidden;
        opacity: 0;
        //transition: visibility 0s 1s, opacity 1s; // fadOut transition don't works ?
    }

}

#canvasButtons {
    position: absolute;
    //display: flex;
    flex-direction: column;

    .button {
        margin-right: 0;
    }
}

.modal {
    display: flex;
    visibility: hidden;

    .modal-content, .modal-card {
        width: 680px;
    }

    .card {
        background-color: #eee;
    }


    .modal-card-body {
        background-color: #fff !important;
    }


    .modal-card-title,
    .modal-card-head,
    .modal-card-foot, {
        background-color: #e5e5e5 !important;
        border-color: #ccc !important;
        color: #111;
    }

    .card-header-title, .label {
        color: #363636
    }

    &.is-active {
        visibility: visible;
        .modal-background {
            opacity: 1;
        }
    }

    &.modal-fx {
        &-fadeIn {
            .modal-content {
                //transform: scale(0.7);
                opacity: 0;
                transition: all $modal-transition-duration;
            }

            &.is-active {
                .modal-content {
                    //transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    .modal-background {
        background-color: $modal-bg-color;
        opacity: 0;
        transition: all $modal-transition-duration;
    }

    .modal-content {
        // size
        &.is-huge {
            width: 100%;
            margin: 0px 20px;
            max-height: calc(100vh - 40px);
        }
        @include from($tablet) {
            &.is-huge {
                width: 100%;
                margin: 0px 20px;
                max-height: calc(100vh - 40px);
            }
        }
        &.is-tiny {
            max-width: 400px;
        }

        // type
        &.is-image {
            text-align: center;

            &.is-huge {
                width:auto;
            }

            img {
                max-height: calc(100vh - 50px);
            }
        }
    }

    // Positioning, center is default
    // .modal-pos-top
    &.modal-pos {
        &-top {
            align-items: flex-start;
            .modal-content {
                margin-top: 1rem;
            }
        }
        &-bottom {
            align-items: flex-end;
            .modal-content {
                margin-bottom: 1rem;
            }
        }
    }

    .box.is-light {
        background-color: #dce3e3;
        color: black;
    }

}

.subForm {
    padding: 0.666rem 1rem 0.1rem 0 !important;

    .input {
        background-color: #eee !important;
    }

    .field-label.control {
        padding-top: 0 !important;
        padding-left: 10px !important;
    }
    .select.is-orange, .select.is-orange::after,
    .select.is-orange select,
    .select.is-orange select:focus,
    .select.is-orange select:active {
        border-color: $orange-frac6 !important;
    }

}

.cardForm {
    .field-label.control {
        padding-top: 0 !important;
        padding-left: 10px !important;
    }
    .select.is-orange, .select.is-orange::after,
    .select.is-orange select,
    .select.is-orange select:focus,
    .select.is-orange select:active {
        border-color: $orange-frac6 !important;
    }
}

/*
 *
 * Utils
 *
 */

.button-light {
    &:hover {
        cursor: pointer !important;
    }
    &:active {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

.is-underline {
    //text-decoration: underline;
    border-bottom: 1px ridge;
}

.is-underline-dotted {
    border-bottom: 1px dotted;
}

.right-arrow {
    &::after {
        content: " \27F6 ";
        padding-right: 5px;
        padding-left: 5px;
    }
}

.is-vbar-1 {
	display: inline-block;
	border-left: 1px solid #ccc;
	height: 26px;
    margin-bottom: 5px;
    padding-left: 0.5rem;
}

.vline {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    &::after, &::before {
        height: auto;
        width: 1px;

        content: '';
        display: block;
        flex: 1;
        background-color: $grey-light2;
    }
}

.is-aligned-center {
    text-align: center !important;
}

.Circle {
    padding-bottom: 2px;
    &::before {
        content: ' \25CF'; // draw a circle (use as tag/bullet)
        font-size: 9px;
    }
}

.circleBase {
    border-radius: 50%;
}

.circle1 {
    width: 50px;
    height: 50px;
    //background: #939393;
    background: #285a86;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 10px;
}

.circle2 {
    width: 200px;
    height: 200px;
    background: #575c64;
    border: 1px solid #000;
    // Text centering
    text-align: center;
    padding-top: 50px;
    font-size: 4em;
}


/*
 *
 * Spinner
 *
 */

@keyframes spinner {
0% {
	transform: translate3d(-50%, -50%, 0) rotate(0deg);
}
100% {
	 transform: translate3d(-50%, -50%, 0) rotate(360deg);
}

}.spinner {
    // The height here is just for demo purposes
    height: 25vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
	&::before {
		animation: 1.3s linear infinite spinner;
		border: solid 3px #eee;
		border-bottom-color: #6588EF;
		border-radius: 50%;
		content: "";
		height: 40px;
		left: 50%;
		opacity: inherit;
		position: absolute;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		transform-origin: center;
		width: 40px;
		will-change: transform;
	}
}


/*
 *
 * Ugly focus management
 *
 */


*:focus {
  /* no outline for non-keyboard-inputs elements (other see *:focus:not(:focus-visible) */
  outline: none !important;
}
button::-moz-focus-inner { // remove outline inside button !
    border: 0 !important;
}


