@use "sass:color";
@use "sass:map";
@use "../shared" as *;
@use "../fractal6-variables" as *;

/*
 *
 * Accordion
 *
 */
.accordion {
    //margin: auto;
}
.accordion input {
    display: none;
}
.acc {
    position: relative;
    transition: all .15s ease-in-out;
}
.acc::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
header.acc {
    z-index: 50;
    cursor: initial;
}
header .acc-title {
    margin: 0;
    cursor: initial;
}
.acc-title {
    //width: calc(100% - 40px);
    width: 100%;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.acc-content {
    // About using overflow and max-height for making transition.
    //https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css?page=1&tab=active#tab-top
    overflow: hidden;
    max-height: 0;
    // this padding transition  prevent the padding (if any) to change during the dropdown collapse while
    // removing the extra space that it causes when collapsed.
    // Thereffore, it cause a slitgly glitch on collapse action... @helpNeeded.
    transition: height,max-height .3s ease, padding 0s 0.3s ease;
    background-color: inherit;
}
.acc-close {
    display: none;
    position: absolute;
    height: var(--acc-height-subtitle);
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
input:checked + .acc {
    height: auto;
}
input:checked + .acc .acc-content,
input:checked + .acc .acc-close {
    display: inline-block;
}
input:checked + .acc .acc-content {
    overflow: auto;
    max-height: 800px;
    transition: height,max-height .3s ease, padding 0s;
}
.arrows-left section .acc-title {
    padding-left: 44px;
    width: calc(100%);
}
.arrows-left section .acc-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    opacity: 0.5;
}
.arrows-right section .acc-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    right: 15px;
    top: 0px;
    transition: transform .15s ease-in-out;
    opacity: 0.5;
}
input:checked + section.acc .acc-title:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.arrows-right .acc-title {
    padding-right: 20px;
}

.quickHelp { // Style for accordion (acc)
    header.acc {
        height: var(--acc-height-title) !important;
    }
    header .acc-title {
        height: var(--acc-height-title) !important;
        line-height: var(--acc-height-title) !important;
        font-weight: 600;
        font-size: 12pt;
    }
    .acc-title {
        height: var(--acc-height);
        line-height: var(--acc-height);
        padding: 0 20px;
    }
    input:checked + .acc .acc-content {
        width: calc(100% - 20px);
        font-size: 11pt;
        padding: 20px 10px 20px 20px;
    }

    section.acc > .acc-title {
        border-top: 1px solid rgba(0,0,0,.18);
    }
    input:checked + section.acc .acc-title {
        background-color: var(--background-evidence);
    }
}

// ----

.accordion {
    .message-header {
        border-radius: 5px;
    }
}

/*
 * Self managed accordion
 *  (do not work on table ( mandate settings !)
 */
.is-accordion {
    .is-child {
        overflow: hidden;
        height: 0 !important;
        max-height: 0 !important;
        transition: max-height 0.4s ease-out;
        &.is-open {
            height: 800px !important;
            max-height: 800px !important ;
        }
    }
}
