@use "sass:color";
@use "sass:map";
@use "../shared" as *;
@use "../fractal6-variables" as *;

/*
 *
 * Animations and State Classes
 *
 */

@keyframes growBox {
    from { height: 0; }
    to { height: 4rem; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

// @fix bulma
.is-active {
    .tag  {
        font-weight: 500;
    }
}

.tag.is-w, .tag.button-light {
    border: 2px solid transparent;
    &:hover {
        cursor: pointer;
        border-color: var(--link);
    }
}

.is-w:hover:not(.tag) {
    cursor: pointer;
    color: var(--text-strong) !important;
    &.content, .content, &.content strong {
        color: var(--link) !important;
    }
}

.is-h:hover {
    background-color: var(--background-hover-discrete);
}

// is-w + is-h
.button-light:not(.tag), .button-light > i {
    &:hover, & > a:hover {
        cursor: pointer !important;
        color: var(--bulma-text-bold) !important;
    }

    @each $name, $pair in $colors {
        &.is-#{$name} {
            color: var(--#{$name});
            &:hover, & > a:hover {
                cursor: pointer !important;
                color: var(--bulma-#{$name}-bold) !important;
            }
        }
    }

    &:active {
        background-color: inherit;
    }
}

.is-event-badge {
    color: var(--link);
    &.badge {
        background-color: var(--link);
        right: 3px !important;
    }

    @include touch { // @debug: why it goes up on mobile ?
      top: 8px !important;
    }
}
.is-event-badge-bg {
    .tag {
        background-color: var(--link) !important;
    }
}

.is-contract-badge {
    color: var(--warning);
    &.badge {
        background-color: var(--warning);
        left: 3px !important;
    }

    @include touch { // @debug: why it goes up on mobile ?
      top: 8px !important;
    }
}
.is-contract-badge-bg {
    .tag {
        color: $dark !important;
        background-color: var(--warning) !important;
    }
}

.is-success-light { // @deprecated
    background-color: var(--success-light);
    color: color.adjust($dark, $lightness: 10%);
}

/*
 * Slider
 */

.slider {
    @include tablet {
        transition: transform .5s ease, opacity .5s ease;
        &.is-slide-left {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &.is-slide-right {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}
