
.content.markdown {
    pre, code {
        @include defaultFontFace;
        font-size: 14px;
        max-height: 400px;
        overflow-y: auto;
        border-radius: 5px;

        color: currentColor;
        background-color: $code-color !important;
    }

    a {
        color: $info !important;
        text-decoration: none !important;
    }
    a:hover {
        text-decoration: underline !important;
    }
    a:visited {
        color: darken($info, 5);
    }
}

.box {
    .content.markdown {
        pre, code {
            background-color: darken($code-color, 5) !important;
        }
    }
}
