////////////////////////////////////////////////
// DARKLY
////////////////////////////////////////////////
$primary: #375a7f !default;

$border-color: $grey;
$border-width: 2px;

$body-background-color: #4e5b6a; // #2e424bf2; darken($grey-darker, 4);
$header-background-color: #44444d; // #24292e;
$background: $grey-darker;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$title-color: #fff;
$subtitle-color: $grey-light2;
$subtitle-strong-color: $grey-light2;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-color: $text;
$box-background-color: $grey-dark;
$box-shadow: none;

$code-color: $grey-dark;

//$link: $turquoise;
$link: $green-frac6;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;

$button-color: $primary;
$button-hover-color: darken($text, 5); // text-dark
$button-focus: darken($text, 5); // text-dark
$button-active-color: darken($text, 5); // text-dark
$button-disabled-background-color: $grey-light;

$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-light;
$input-disabled-border: $grey-lighter;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 2);

$pagination-color: $link;
$pagination-border-color: $border-color;

$navbar-background-color: #172335; // $primary
$navbar-brand-background-color: #02071ac4;
$navbar-item-color: $text;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $grey-darker;
$navbar-item-active-color: $link;
$navbar-dropdown-arrow: #fff;
$navbar-divider-background-color: rgba(0, 0, 0, 0.2);
$navbar-dropdown-border-top: 1px solid $navbar-divider-background-color;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: hsl(210.7, 21.3%, 41.4%);
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $link;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$progress-value-background-color: $grey-lighter;

$menu-left-background-color: #55555555;
$menu-left-border-color: #464646;

// Tooltip
$tooltip-background-color: $grey-lighter;
$tooltip-color: black;

// Tabs
$tabs-boxed-link-active-background-color: #3f4a57;

$bulmaswatch-import-font: false !default;
