@font-face {
  font-family: 'fractaleicon';
  src:  url('fonts/fractaleicon.eot?km1pv2');
  src:  url('fonts/fractaleicon.eot?km1pv2#iefix') format('embedded-opentype'),
    url('fonts/fractaleicon.ttf?km1pv2') format('truetype'),
    url('fonts/fractaleicon.woff?km1pv2') format('woff'),
    url('fonts/fractaleicon.svg?km1pv2#fractaleicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fractaleicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-markdown:before {
  content: "\e967";
}
.icon-king:before {
  content: "\e963";
}
.icon-queen:before {
  content: "\e964";
}
.icon-alert-circle:before {
  content: "\e900";
}
.icon-alert-triangle:before {
  content: "\e901";
}
.icon-anchor:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-award:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e905";
}
.icon-bell-off:before {
  content: "\e906";
}
.icon-book-open:before {
  content: "\e907";
}
.icon-bookmark:before {
  content: "\e908";
}
.icon-box:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-check-circle:before {
  content: "\e90c";
}
.icon-check-square:before {
  content: "\e90d";
}
.icon-chevron-down:before {
  content: "\e950";
}
.icon-chevron-left:before {
  content: "\e951";
}
.icon-chevron-right:before {
  content: "\e95d";
}
.icon-chevron-up:before {
  content: "\e95e";
}
.icon-chevrons-down:before {
  content: "\e90e";
}
.icon-chevrons-left:before {
  content: "\e90f";
}
.icon-chevrons-right:before {
  content: "\e910";
}
.icon-chevrons-up:before {
  content: "\e911";
}
.icon-circle:before {
  content: "\e912";
}
.icon-clock:before {
  content: "\e913";
}
.icon-codesandbox:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e915";
}
.icon-disc:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-edit-2:before {
  content: "\e918";
}
.icon-external-link:before {
  content: "\e968";
}
.icon-eye:before {
  content: "\e919";
}
.icon-eye-off:before {
  content: "\e91a";
}
.icon-file:before {
  content: "\e91b";
}
.icon-file-text:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-flag:before {
  content: "\e91e";
}
.icon-folder:before {
  content: "\e91f";
}
.icon-git-branch:before {
  content: "\e921";
}
.icon-github:before {
  content: "\e922";
}
.icon-gitlab:before {
  content: "\e923";
}
.icon-globe:before {
  content: "\e960";
}
.icon-grid:before {
  content: "\e924";
}
.icon-hash:before {
  content: "\e925";
}
.icon-heart:before {
  content: "\e926";
}
.icon-help-circle:before {
  content: "\e927";
}
.icon-home:before {
  content: "\e928";
}
.icon-image:before {
  content: "\e929";
}
.icon-info:before {
  content: "\e92a";
}
.icon-key:before {
  content: "\e95f";
}
.icon-layers:before {
  content: "\e92b";
}
.icon-layout:before {
  content: "\e92c";
}
.icon-life-buoy:before {
  content: "\e92d";
}
.icon-link:before {
  content: "\e92e";
}
.icon-link-2:before {
  content: "\e92f";
}
.icon-list:before {
  content: "\e969";
}
.icon-lock:before {
  content: "\e930";
}
.icon-log-in:before {
  content: "\e931";
}
.icon-log-out:before {
  content: "\e932";
}
.icon-mail:before {
  content: "\e933";
}
.icon-map:before {
  content: "\e934";
}
.icon-map-pin:before {
  content: "\e935";
}
.icon-maximize:before {
  content: "\e920";
}
.icon-maximize-2:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e936";
}
.icon-message-circle:before {
  content: "\e937";
}
.icon-message-square:before {
  content: "\e938";
}
.icon-minimize:before {
  content: "\e939";
}
.icon-minimize-2:before {
  content: "\e93a";
}
.icon-minus:before {
  content: "\e93b";
}
.icon-moon:before {
  content: "\e961";
}
.icon-paperclip:before {
  content: "\e93c";
}
.icon-plus:before {
  content: "\e93d";
}
.icon-power:before {
  content: "\e93e";
}
.icon-radio:before {
  content: "\e962";
}
.icon-refresh-ccw:before {
  content: "\e93f";
}
.icon-exchange:before {
  content: "\e940";
}
.icon-search:before {
  content: "\e941";
}
.icon-send:before {
  content: "\e942";
}
.icon-settings:before {
  content: "\e943";
}
.icon-share:before {
  content: "\e944";
}
.icon-shield:before {
  content: "\e945";
}
.icon-slash:before {
  content: "\e946";
}
.icon-sliders:before {
  content: "\e947";
}
.icon-square:before {
  content: "\e949";
}
.icon-star:before {
  content: "\e94a";
}
.icon-sun:before {
  content: "\e94b";
}
.icon-tag:before {
  content: "\e94c";
}
.icon-target:before {
  content: "\e94e";
}
.icon-thermometer:before {
  content: "\e94f";
}
.icon-tool:before {
  content: "\e952";
}
.icon-trash:before {
  content: "\e953";
}
.icon-trending-down:before {
  content: "\e954";
}
.icon-trending-up:before {
  content: "\e955";
}
.icon-user:before {
  content: "\e956";
}
.icon-user-check:before {
  content: "\e957";
}
.icon-user-plus:before {
  content: "\e958";
}
.icon-user-x:before {
  content: "\e965";
}
.icon-users:before {
  content: "\e959";
}
.icon-watch:before {
  content: "\e95a";
}
.icon-x:before {
  content: "\e95b";
}
.icon-x-circle:before {
  content: "\e95c";
}
.icon-home3:before {
  content: "\e966";
}
.icon-history:before {
  content: "\e94d";
}
.icon-plus1:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus1:before {
  content: "\f068";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-chevron-left1:before {
  content: "\f053";
}
.icon-chevron-right1:before {
  content: "\f054";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-chevron-up1:before {
  content: "\f077";
}
.icon-chevron-down1:before {
  content: "\f078";
}
.icon-announce:before {
  content: "\f0a1";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-circle1:before {
  content: "\f111";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
